[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.97"
apikeys = { path = "../apikeys" }
axum = "0.8.1"
chat = { git = "https://github.com/llm-proxy-rs/llm-proxy-rs.git", version = "0.1.0" }
config = "0.15.11"
dotenv = "0.15.0"
handlers = { git = "https://github.com/llm-proxy-rs/cognito.git", version = "0.1.0" }
http = "1.3.1"
models = { path = "../models" }
request = { git = "https://github.com/llm-proxy-rs/llm-proxy-rs.git", version = "0.1.0" }
reqwest = "0.12.14"
response = { git = "https://github.com/llm-proxy-rs/llm-proxy-rs.git", version = "0.1.0" }
serde = "1.0.219"
sqlx = { version = "0.8.3", features = ["postgres"] }
time = "0.3.40"
tokio = { version = "1.44.1", features = ["full"] }
tower-http = { version = "0.6.2", features = ["cors"] }
tower-sessions = "0.14.0"
tower-sessions-sqlx-store = { version = "0.15.0", features = ["postgres"] }
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
usage = { path = "../usage" }
users = { path = "../users" }
