[package]
name = "users"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
serde = { version = "1.0.228", features = ["derive"] }
sqlx = { version = "0.8.6", features = ["postgres", "time"] }
uuid = { version = "1.20.0", features = ["v4", "serde"] }
